Silverlight/多文件断点续传/SLMultiFileUploaderApplication/Service References/WcfService/UploadFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadFileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27759/WcfService/UploadFileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27759/WcfService/UploadFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadFileService_StoreFileAdvanced_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreFileAdvanced" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_StoreFileAdvanced_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreFileAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_CancelUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelUpload" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_CancelUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_AbortUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:AbortUpload" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_AbortUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_GetServerFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerFilePath" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_GetServerFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerFilePathResponse" />
  </wsdl:message>
  <wsdl:portType name="IUploadFileService">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/StoreFileAdvanced" message="tns:IUploadFileService_StoreFileAdvanced_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/StoreFileAdvancedResponse" message="tns:IUploadFileService_StoreFileAdvanced_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/CancelUpload" message="tns:IUploadFileService_CancelUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/CancelUploadResponse" message="tns:IUploadFileService_CancelUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/AbortUpload" message="tns:IUploadFileService_AbortUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/AbortUploadResponse" message="tns:IUploadFileService_AbortUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerFilePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/GetServerFilePath" message="tns:IUploadFileService_GetServerFilePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/GetServerFilePathResponse" message="tns:IUploadFileService_GetServerFilePath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUploadFileService" type="tns:IUploadFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/CancelUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortUpload">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/AbortUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerFilePath">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/GetServerFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadFileService">
    <wsdl:port name="BasicHttpBinding_IUploadFileService" binding="tns:BasicHttpBinding_IUploadFileService">
      <soap:address location="http://localhost:27759/WcfService/UploadFileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>